/*-- 1. Settings >> Enable / disable features 
========================================================================== --*/
$use-wrapping-classes: true !default;
$use-borders: true !default;
$use-paddings: true !default;
$use-no-paddings: true !default;
$use-margins: true !default;
$use-no-margins: true !default;
$use-colours: true !default;
$use-background-colours: true !default;
$use-typography: true !default;
$use-buttons: true !default;
$use-animations: true !default;

$use-grid: true !default;

/** GRID FLAGS */
$use-grid--equal-height: true !default;
$use-grid--center:       true !default;
$use-grid--bottom:       true !default;

$use-grid--gutter-lg:    true !default;
$use-grid--gutter-sm:    true !default;
$use-grid--no-gutter:    true !default;
$use-grid--matrix:       true !default;

$use-grid--reverse:      true !default;


/** WIDTHS */
$use-width-1-1:   true !default;
$use-width-1-2:   true !default;
$use-width-1-3:   true !default;
$use-width-2-3:   true !default;
$use-width-1-4:   true !default;
$use-width-2-4:   true !default;
$use-width-3-4:   true !default;
$use-width-1-5:   true !default;
$use-width-2-5:   true !default;
$use-width-3-5:   true !default;
$use-width-4-5:   true !default;
$use-width-1-6:   true !default;
$use-width-2-6:   true !default;
$use-width-3-6:   true !default;
$use-width-4-6:   true !default;
$use-width-5-6:   true !default;
$use-width-1-8:   true !default;
$use-width-2-8:   true !default;
$use-width-3-8:   true !default;
$use-width-4-8:   true !default;
$use-width-5-8:   true !default;
$use-width-6-8:   true !default;
$use-width-7-8:   true !default;
$use-width-1-10:  true !default;
$use-width-2-10:  true !default;
$use-width-3-10:  true !default;
$use-width-4-10:  true !default;
$use-width-5-10:  true !default;
$use-width-6-10:  true !default;
$use-width-7-10:  true !default;
$use-width-8-10:  true !default;
$use-width-9-10:  true !default;
$use-width-1-12:  true !default;
$use-width-2-12:  true !default;
$use-width-3-12:  true !default;
$use-width-4-12:  true !default;
$use-width-5-12:  true !default;
$use-width-6-12:  true !default;
$use-width-7-12:  true !default;
$use-width-8-12:  true !default;
$use-width-9-12:  true !default;
$use-width-10-12: true !default;
$use-width-11-12: true !default;

/** Push */
$use-push-1-1:    true !default;
$use-push-1-2:    true !default;
$use-push-1-3:    true !default;
$use-push-2-3:    true !default;
$use-push-1-4:    true !default;
$use-push-2-4:    true !default;
$use-push-3-4:    true !default;
$use-push-1-5:    true !default;
$use-push-2-5:    true !default;
$use-push-3-5:    true !default;
$use-push-4-5:    true !default;
$use-push-1-6:    true !default;
$use-push-2-6:    true !default;
$use-push-3-6:    true !default;
$use-push-4-6:    true !default;
$use-push-5-6:    true !default;
$use-push-1-8:    true !default;
$use-push-2-8:    true !default;
$use-push-3-8:    true !default;
$use-push-4-8:    true !default;
$use-push-5-8:    true !default;
$use-push-6-8:    true !default;
$use-push-7-8:    true !default;
$use-push-1-10:   true !default;
$use-push-2-10:   true !default;
$use-push-3-10:   true !default;
$use-push-4-10:   true !default;
$use-push-5-10:   true !default;
$use-push-6-10:   true !default;
$use-push-7-10:   true !default;
$use-push-8-10:   true !default;
$use-push-9-10:   true !default;
$use-push-1-12:   true !default;
$use-push-2-12:   true !default;
$use-push-3-12:   true !default;
$use-push-4-12:   true !default;
$use-push-5-12:   true !default;
$use-push-6-12:   true !default;
$use-push-7-12:   true !default;
$use-push-8-12:   true !default;
$use-push-9-12:   true !default;
$use-push-10-12:  true !default;
$use-push-11-12:  true !default;

/** Pull */
$use-pull-1-1:    true !default;
$use-pull-1-2:    true !default;
$use-pull-1-3:    true !default;
$use-pull-2-3:    true !default;
$use-pull-1-4:    true !default;
$use-pull-2-4:    true !default;
$use-pull-3-4:    true !default;
$use-pull-1-5:    true !default;
$use-pull-2-5:    true !default;
$use-pull-3-5:    true !default;
$use-pull-4-5:    true !default;
$use-pull-1-6:    true !default;
$use-pull-2-6:    true !default;
$use-pull-3-6:    true !default;
$use-pull-4-6:    true !default;
$use-pull-5-6:    true !default;
$use-pull-1-8:    true !default;
$use-pull-2-8:    true !default;
$use-pull-3-8:    true !default;
$use-pull-4-8:    true !default;
$use-pull-5-8:    true !default;
$use-pull-6-8:    true !default;
$use-pull-7-8:    true !default;
$use-pull-1-10:   true !default;
$use-pull-2-10:   true !default;
$use-pull-3-10:   true !default;
$use-pull-4-10:   true !default;
$use-pull-5-10:   true !default;
$use-pull-6-10:   true !default;
$use-pull-7-10:   true !default;
$use-pull-8-10:   true !default;
$use-pull-9-10:   true !default;
$use-pull-1-12:   true !default;
$use-pull-2-12:   true !default;
$use-pull-3-12:   true !default;
$use-pull-4-12:   true !default;
$use-pull-5-12:   true !default;
$use-pull-6-12:   true !default;
$use-pull-7-12:   true !default;
$use-pull-8-12:   true !default;
$use-pull-9-12:   true !default;
$use-pull-10-12:  true !default;
$use-pull-11-12:  true !default;