/*-- 4. Base >> Default link styles
========================================================================== --*/
a {
    color: $secondary-colour;
	@include transition(all 0.3s);
	text-decoration:none;
    &:hover,
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
    &.u-secondary-colour{
        &:hover{
            color: $primary-colour;
        }
    }
    &.u-primary-colour{
        &:hover{
            color: $secondary-colour;
        }
    }
}